- if @user.errors.any?
  #error_explanation.alert
    ul
      - @user.errors.full_messages.each do |msg|
        li
          = msg

- action = :create
- if current_user
  - action = :update
= form_for @user, :url => {:action => action} do |f|
  = f.label :name
  .form-group.has-feedback
    = f.text_field :name, class:"form-control", placeholder:"name"
    span.form-control-feedback.fui-check
  - if !current_user
    = label :user_auth, :email
      .form-group.has-feedback
      = text_field :user_auth, :email, class:"form-control", placeholder: "email"
        span.form-control-feedback.fui-check

  ul.list-inline
    li
      label.radio[for="radio1"]
        = f.radio_button :gender, 1, class: "custom-radio", id: "radio1", data: {toggle: 'radio'}
        span.icons
          span.icon-unchecked
          span.icon-checked
        |  男
    li
      label.radio[for="radio2"]
        = f.radio_button :gender, 2, class: "custom-radio", id: "radio2", data: {toggle: 'radio'}
        span.icons
          span.icon-unchecked
          span.icon-checked
        |  女
  |  住所
  = f.collection_select :prefecture_id, @prefectures, :id, :name, {} ,{:class => "form-control select select-primary select-block mbl"}
  |  プロフィール
  .form-group
    = f.text_area :profile, :size => "10x10", class: "form-control", placeholder: "複数行に渡るテキストを入力できる。"
  - if !current_user
    |  パスワード (英字大文字小文字と数字を含んだ8桁以上を設定してください)
    .input-group
      = password_field :user_auth, :password, class:"form-control"
      span.input-group-addon
        span.fui-lock
    |  パスワード確認
    .input-group
      = password_field :user_auth, :password_confirmation, class:"form-control"
      span.input-group-addon
        span.fui-lock
  table
    - @categories.each do |c|
      tr
        th
          = c.name
        td
          ul.list-inline
            - c.genres.each do |g|
              li
                - genre_checked = false
                - params[:genre_ids].each do |gid|
                  - if gid == g.id.to_s
                    - genre_checked = true
                    - break
                label.checkbox[for="checkbox"]
                  = check_box_tag("genre_ids[]", g.id, genre_checked, :data => {:toggle => "checkbox"})
                  = g.name
  - if current_user
    = submit_tag "更新する", class: "btn btn-primary btn-lg btn-block"
  - else
    = submit_tag "登録する", class: "btn btn-primary btn-lg btn-block"
