= form_for(user_auth) do |f|
  - if user_auth.errors.any?
    #error_explanation
      h2
        = pluralize(user_auth.errors.count, "error")
        |  prohibited this user_auth from being saved:
      ul
        - user_auth.errors.full_messages.each do |message|
          li
            = message
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password
    br
    = f.password_field :password
  .field
    = f.label :password_confirmation
    br
    = f.password_field :password_confirmation
  .actions
    = f.submit
