/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import 'flat-ui/variables';
@import "bootstrap";
@import 'flat-ui';
$icon-font-path: "bootstrap-sass/assets/fonts/bootstrap/";

.contents {
  margin-top: 100px;
  margin-bottom:  100px;
}
h1 {
	padding: .25em 0 .5em .75em;
	border-left: 10px solid #ccc;
	border-bottom: 1px solid #ccc;
  font-size: 1.5em;
}
h2 {
	padding: .5em .75em;
	background-color: #f6f6f6;
  font-size: 1.2em;
}
table {
  margin: 3px;
}
th {
  padding: .5em .75em;
	background-color: #34495E;
  color: #ECF0F1;
  border-bottom: solid 1px #fff;
  font-size: .75em;
}
td {
  padding: .5em .75em;
	background-color: #fff;
  border: solid 1px #ECF0F1;
}
