<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
      <span class="sr-only">Toggle navigation</span>
    </button>
    <a class="navbar-brand" href="#">Festival Search</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-01">
    <form class="navbar-form navbar-left" action="#" role="search">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" id="navbarInput-01" type="search" placeholder="Search">
          <span class="input-group-btn">
            <button type="submit" class="btn"><span class="fui-search"></span></button>
          </span>
        </div>
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li style=""><%= link_to "Profile", user_show_path(current_user.user_id) %></li>
        <li><%= link_to "Logout", :logout, method: :post %></li>
      <% else %>
        <li><%= link_to "Register", user_new_path %></li>
        <li><%= link_to "Login", :login %></li>
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->
